[submodule "subprojects/libvfio-user"]
	path = subprojects/libvfio-user
	url = https://github.com/vmuxIO/libvfio-user.git
	branch = vmux
[submodule "subprojects/vfio-e1000"]
	path = subprojects/vfio-e1000
	url = https://github.com/mmisono/vfio-e1000.git
	branch = master
[submodule "subprojects/nic-emu"]
	path = subprojects/nic-emu
	url = https://github.com/vmuxIO/nic-emu.git
	branch = dev/peter
[submodule "subprojects/deathstarbench"]
	path = subprojects/deathstarbench
	url = https://github.com/vmuxIO/DeathStarBench.git
