result
.ccls-cache/
VMs/*
__pycache__/
outputs*/
out_*/
nix/results/
.cache/
linux-*/
.local/
test/kni-latency/kni-latency
.bash_history
.vscode
mg
mg21
mgln
qemu
qemu-ioregionfd
xdp
ycsb
vmux-nixbuild
.nix-defexpr/*
.nix-channels
.direnv
test/ptptest/build

